@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100%;
}

.header {
    width: 100%;
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50px;
}

.nav {
    display: flex;
    justify-content: start;
    height: 50px;
    transition: 0.5s;
}

.nav li {
    line-height: 50px;
    padding: 0 10px;
    list-style: none;
    background-color: black;
}

.nav li a {
    color: white;
    text-decoration: none;
}

.search {
    line-height: 50px;
    font-size: 25px;
    font-weight: bold;
    float: right;
    transform: translate(-35px, -45px);
    cursor: pointer;
}

#catemobile {
    line-height: 50px;
    font-size: 25px;
    margin-left: 100%;
    display: none;
    cursor: pointer;
}

.search,
.cate {
    color: white;
}

.content {
    width: 100%;
    margin-bottom: 30px;
}

.banner img {
    margin-top: 10px;
}

.banner-mini {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 550px;
}

.banner-item {
    width: 25%;
    height: 400px;
}

.new-arrivals {
    text-align: center;
}

.list-product {
    width: 75%;
    background-color: rgb(245, 244, 244);
    margin: auto;
    border-radius: 15px;
}

.list-product .row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 22%;
    height: 360px;
    background-color: white;
    margin: 20px 0;
    border-radius: 15px;
    overflow: hidden;
    font-family: "poppins";
}

.icon {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.product .box {
    height: 20px;
}

.image {
    margin-top: 40px;
    transition: 0.5s;
    height: 150px;
}

.icon .info,
.icon .love {
    padding: 5px;
}

.title {
    height: 70px;
    margin-top: 10px;
}

.title,
.price {
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
    transition: 0.5s;
}

.product:hover .image {
    transform: translate(10px, -70px) rotate(20deg);
}

.product:hover .title {
    transform: translate(0px, -70px);
}

.product:hover .price {
    transform: translate(-50px, -70px);
}

.size {
    display: flex;
    justify-content: start;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 30px;
    transition: 0.5s;
}

.size p {
    font-size: 20px;
    margin-right: 10px;
}

.number-size {
    display: flex;
    justify-content: space-around;
}

.number {
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.product:hover .size {
    transform: translate(0px, -110px);
}

.product .action button {
    height: 35px;
    font-size: 17px;
    width: 110px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.product .action {
    transition: 0.5s;
    margin-top: 20px;
}

.product:hover .action {
    transform: translate(0px, -70px);
}

.number:hover {
    background-color: #ccc;
    color: black;
}

.info a,
.love a {
    color: black;
}

.action button:hover {
    background-color: orange;
}

.footer {
    transition: 0.5s;
    width: 100%;
    height: 650px;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-map {
    width: 35%;
    height: 90%;
}

iframe {
    margin-top: 65px;
}

.information {
    height: 90%;
    width: 40%;
    color: white;
    font-size: 18px;
    line-height: 35px;
}

.information h3 {
    color: white;
    margin-top: 65px;
    transform: translateX(-100px);
}

.contact-icon {
    font-size: 40px;
    padding-bottom: 20px;
    border-bottom: 5px dashed white;
}

.contact-icon a {
    color: white;
}

.copyright {
    line-height: 70px;
    color: white;
    background-color: #333;
}

.copyright p {
    margin-left: 120px;
}

.title-shoe .tieudenew {
    margin: 20px 0;
    color: white;
    line-height: 50px;
    font-size: 20px;
    width: 300px;
    background-color: black;
    font-weight: bold;
    transform: translateY(22px);
}

.shoe {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 3px solid black;
}

.title-shoe {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.list-product-shoe {
    width: 75%;
    margin: auto;
    border-radius: 15px;
}

.list-product-shoe .row {
    display: flex;
    justify-content: start;
}

.list-product-shoe .product {
    width: 300px;
    height: 370px;
    border: 1px solid gray;
    background-color: white;
    margin: 20px 0;
    border-radius: 15px;
    overflow: hidden;
    font-family: "poppins";
}

.list-product-shoe .icon {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.list-product-shoe .product .box {
    height: 20px;
}

.list-product-shoe .image {
    margin-top: 40px;
    transition: 0.5s;
    height: 150px;
}

.list-product-shoe .icon .info,
.list-product-shoe .icon .love {
    padding: 5px;
}

.list-product-shoe .title {
    height: 70px;
    margin-top: 10px;
}

.list-product-shoe .title,
.list-product-shoe .price {
    font-size: 20px;
    font-weight: bold;
    padding: 0 15px;
    transition: 0.5s;
}

.list-product-shoe .product:hover .image {
    transform: translate(10px, -70px) rotate(20deg);
}

.list-product-shoe .product:hover .title {
    transform: translate(0px, -80px);
}

.list-product-shoe .product:hover .price {
    transform: translate(-50px, -90px);
}

.list-product-shoe .size {
    display: flex;
    justify-content: start;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 30px;
    transition: 0.5s;
}

.list-product-shoe .size p {
    font-size: 20px;
    margin-right: 10px;
}

.list-product-shoe .number-size {
    display: flex;
    justify-content: space-around;
}

.list-product-shoe .number {
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 100%;
    cursor: pointer;
}

.list-product-shoe .product:hover .size {
    transform: translate(0px, -110px);
}

.list-product-shoe .product .action button {
    height: 35px;
    font-size: 17px;
    width: 45%;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.list-product-shoe .product .action {
    transition: 0.5s;
}

.list-product-shoe .product:hover .action {
    transform: translate(0px, -90px);
}

.list-product-shoe .number:hover {
    background-color: #ccc;
    color: black;
}

.list-product-shoe .info a,
.list-product-shoe .love a {
    color: black;
}

.list-product-shoe .action button:hover {
    background-color: orange;
}

.banner-product {
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -30px;
}


/* table : width < 1024 px*/

@media only screen and (max-width: 63.9375em) {
    .nav {
        display: block;
        overflow: hidden;
    }
    .search {
        display: none;
    }
    .cate {
        display: block;
    }
    .new-arrivals {
        margin-top: 0px;
    }
    .footer-map {
        height: 200px;
        width: 90%;
    }
    .information {
        width: 100%;
        padding: 30px;
    }
    .text-footer {
        display: none;
    }
    #catemobile {
        display: block;
    }
    .menu {
        width: 200px;
    }
}


/* table : width >= 740px  and width < 1024 px*/

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .product {
        width: 250px;
    }
    .product .title {
        margin-top: 10px;
        height: 35px;
    }
    .product .price {
        margin-top: 30px;
    }
    .product:hover .title {
        transform: translate(-5px, -70px);
    }
    .product:hover .image {
        transform: translate(10px, -80px) rotate(20deg);
    }
    .product:hover .size {
        transform: translate(-5px, -110px);
    }
    .product:hover .price {
        transform: translate(-53px, -70px);
    }
    .product:hover .action {
        transform: translate(0px, -70px);
    }
    .banner-mini {
        height: 300px;
    }
    #catemobile {
        display: block;
    }
    #catemobile {
        transform: translate(-30px, -50px);
    }
    .information {
        height: 800px;
    }
    .copyright {
        height: 50px;
        transform: translateY(-130px);
        line-height: 40px;
    }
    .copyright p {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 46.1875em) {
    .item1 {
        display: none;
    }
    .banner-item {
        width: 45%;
    }
    .product {
        width: 185px;
        height: 320px;
    }
    .title {
        font-size: 15px;
        margin-top: -30px;
    }
    .price {
        font-size: 15px;
    }
    .size p {
        font-size: 12px;
    }
    .number {
        padding: 0px;
    }
    .product:hover .title {
        transform: translate(0px, -60px);
    }
    .product:hover .price {
        transform: translate(-30px, -65px);
    }
    .product:hover .action {
        transform: translate(0px, -65px);
    }
    .product .action button {
        width: 44%;
        height: 35px;
        text-align: center;
        font-size: 12px;
    }
    .list-product {
        width: 100%;
    }
    .cate {
        transform: translate(-25px, -45px);
    }
    .tieudenew {
        margin: -40px;
    }
    .title-shoe {
        margin: auto;
    }
    .banner-mini {
        height: 280px;
    }
    .banner {
        transform: translateY(30px);
    }
    .copyright {
        height: 50px;
        margin-top: -60px;
        line-height: 40px;
    }
    .copyright p {
        margin-left: 5px;
        font-size: 14px;
        text-align: center;
    }
    .information {
        height: 400px;
        margin: -20px 0;
    }
    #catemobile {
        transform: translate(0px, -5px);
    }
}